.header {
    padding: 0 50px;
    height: 50px;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    align-items: center;
    background-color: #eceded;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header-nav {
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: 36px;
    flex-grow: 1;
}

.nav-link {
    text-decoration: none;
    color: #767777;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #333333;
}